.avatar-uploader > .ant-upload {
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:50%;
    transform: translate(-50%,-50%); /*自己的50% */
    text-align:center;
    width: 128px;
    height: 128px;
}

.editable-cell {
    position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
    cursor: pointer;
}

.editable-cell-icon {
    line-height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    display: none;
}

td:hover .editable-cell-icon {
    display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #108ee9;
}

.form{
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:50%;
    transform: translate(-50%,-50%); /*自己的50% */
    text-align:center;
}
.components-table-demo-nested .ant-table-expanded-row > td:last-child {
    padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
    border-bottom: 1px solid #108ee9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
    border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
    background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
    margin-right: 24px;
}

.components-table-demo-nested .ant-table-expanded-row:hover > td {
    background: #fbfbfb;
}

/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}