#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(221, 66, 0, 0.2);
    margin: 16px;
}
.table-operations {
    margin-bottom: 16px;
    margin-left:200px;
}

.table-operations > button {
    margin-right: 8px;
}
.head {
    height: 35px;
    width: 190px;
    text-align: center;
    font-size: 18px;
    background: #487a6f;
    border-radius: 4px 4px 0 0;
    line-height: 34px;
    color: #2bddcd;
    font-family: "Microsoft Yahei";
}