.avatar-uploader > .ant-upload {
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:50%;
    transform: translate(-50%,-50%); /*自己的50% */
    text-align:center;
    width: 128px;
    height: 128px;
}
